<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../common/header.ejs')%>
    <title>Document</title>
</head>
<body>
    <%- include('../common/navigation.ejs')%>
   <h1>Your Orders </h1>
    <br>
    <% if(prods.length > 0) { %>

        <% for (let product of prods) { %>
         <div>
            <form>
             Title:
             <%= product.title%>    <br> 
             Total Amount:
             <%= product.price%>
             <br>
             <br>
         </form> 
             <% } %>
             
         </div>
       <% }  else { %>
       
         <% } %>
    </main>
</body>
</html>